.bmv-activity-types {
  min-height: 42em;
  max-height: 50em;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: $c-dark;

  .row {
    flex: 1;
    $border-size: 10.4em; // depends on the height of the parent

    & .col {
      flex: 1;
      background-size: cover;
    }
  }

  & .bmv-activity-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: $c-light;

    & .bmv-activity-subtitle {
      font-size: 0.8em;
      &.btn {
        border-radius: 30px;
        width: 16em;
        margin: 1em auto;
        padding: 1em;
      }
    }
  }
}
