.bmv-activity-types {
  min-height: 42em;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: $c-dark;

  $col-min-height: 20em;
  .row {
    flex: 1;

    & .col {
      flex: 1;
      background-size: cover;
      min-height: $col-min-height;
    }

    &:nth-of-type(2) {
      display: none;
      height: $col-min-height;
    }
  }

  & .bmv-activity-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: $c-light;

    & .bmv-activity-subtitle {
      font-size: 0.8em;
      &.btn {
        border-radius: 30px;
        width: 16em;
        margin: 1em auto;
        padding: 1em;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .bmv-activity-types {
    & .row {
      &:nth-of-type(1) {
        & .col {
          &:nth-of-type(4) {
            display: none;
          }
        }
      }
      &:nth-of-type(3) {
        & .col {
          &:nth-of-type(1) {
            display: none;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .bmv-activity-types {
    & .row {
      &:nth-of-type(1) {
        & .col {
          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: none;
          }
        }
      }

      &:nth-of-type(2) {
        display: flex;
      }

      &:nth-of-type(3) {
        & .col {
          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }
}
