.bmv-activity-types {
    min-height: 42em;
    max-height: 50em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: $c-palette-light;
    // background: linear-gradient(160deg, $c-palette-light 0%, $c-palette-light 40%, $c-palette-dark 85%, $c-palette-dark 100%);

    & .card {
        margin: 0 2em;
        display: inline-flex;
        width: 100%;
        max-width: 26rem;
        min-width: 16rem;

        & .card-img-top {
            height: 8em;
            background-size: cover;
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            font-size: 2em;
            font-weight: 700;
            color: $c-palette-sec-dark;
        }
    }
}