.fab {
  @include default-transition();
  text-align: center;
  text-decoration: none;
  color: $text-light;

  &.fa-facebook-f {
    &:hover {
      background: #3B5998;
    }
  }

  &.fa-youtube {
    &:hover {
      background: #bb0000;
    }
  }

  &.fa-instagram {
    &:hover {
      background: #125688;
    }
  }
}

.bmv-social-icons-pack {
  & .fab {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 2em;
  }
}
