
$navbar-size: 9em;

$letter-spacing-xs: 0.12em;
$letter-spacing-sm: 0.18em;

$text-light: white;
$text-dark: #464646;

$c-palette-light: #70aecb;
$c-palette-primary: #008db1;
$c-palette-dark: #23737c;

$c-palette-sec-light: #8077b2;
$c-palette-sec-primary: #665ca0;
$c-palette-sec-dark: #463989;
