.bmv-who {
  padding: 8em 2em;

  & .bmv-title {
    margin-bottom: 2em;
  }

  & .bmv-who-item {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    min-width: 14.5em;
    margin: 1em;
    padding: 0;

    &:hover {
      & .bmv-who-icon {
        transform: translateY(-0.3em);
      }
    }

    & .bmv-who-icon {
      font-size: 4em;
      margin-bottom: 0.4em;
      color: $c-palette-dark;
      @include transition(0.6s);
      transform: translateY(0);
    }

    & .bmv-who-title {
      height: 4em;
      color: $c-palette-primary;
      letter-spacing: $letter-spacing-xxs;
      text-transform: uppercase;
    }

    & .bmv-who-description {
      color: $text-light-dark;
    }
  }
}

@include media-breakpoint-down(md) {
  .bmv-who {
    padding: 4em 1em;

    & .bmv-who-item {
      & .bmv-who-title {
        height: 3em;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .bmv-who {
    & .bmv-who-item {
      display: block;

      & .bmv-who-title {
        height: auto;
      }
    }
  }
}
