<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="bmv-carousel-content" style="background-image: url('./assets/images/slides/5.dark.jpg')">
        <span class="bmv-carousel-title-sm">Персонални функционални тренировки</span>
        <span class="bmv-carousel-title-lg">Дефинирай своята цел</span>
        <a href="#who" class="btn btn-success bmv-carousel-btn" role="button">Повече</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="bmv-carousel-content" style="background-image: url('./assets/images/slides/4.dark.jpg')">
        <span class="bmv-carousel-title-sm">Присъедини се към групата</span>
        <span class="bmv-carousel-title-lg">
          <span class="bmv-text-logo">
            <span class="bmv-text-logo-accent">BE</span><span class="bmv-text-logo-normal">MOVIN</span>
          </span>
          отвори врати
        </span>
        <div class="bmv-social-icons-pack">
          <a href="https://www.facebook.com/bemovinsport"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/bemovinsport"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCchRJiyYsgQl5oGdagyqk9w/featured"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
