<div class="container bmv-activity-types">
  <div class="row">
    <div data-aos="fade-right" data-aos-delay="200" class="col bmv-text-letter-spacing-xs bmv-activity-text">
      <h2 class="bmv-activity-title">Персонални тренировки</h2>
      <p class="bmv-activity-subtitle">В удобно за теб време</p>
      <a class="btn btn-success bmv-activity-subtitle" href="#prices">Цени</a>
    </div>
    <div data-aos="fade-right" data-aos-delay="400" class="col"
      style="background-image: url('./assets/images/activity-types/GKXF0443.sm.dark.jpg')"></div>
    <div data-aos="fade-right" data-aos-delay="600" class="col"
      style="background-image: url('./assets/images/activity-types/GKXF0419.sm.dark.jpg')"></div>
    <div data-aos="fade-right" data-aos-delay="800" class="col"
      style="background-image: url('./assets/images/activity-types/GKXF0079.sm.dark.jpg')"></div>
  </div>
  <div class="row">
    <div data-aos="fade-right" data-aos-delay="500" class="col"
      style="background-image: url('./assets/images/activity-types/meghan-holmes-1057329-unsplash.dark.sm.jpg')">
    </div>
  </div>
  <div class="row">
    <div data-aos="fade-right" data-aos-delay="400" class="col"
      style="background-image: url('./assets/images/activity-types/TPH0348.dark.sm.jpg')"></div>
    <div data-aos="fade-right" data-aos-delay="600" class="col"
      style="background-image: url('./assets/images/activity-types/GKXF1182.dark.sm.jpg')"></div>
    <div data-aos="fade-right" data-aos-delay="800" class="col"
      style="background-image: url('./assets/images/activity-types/GKXF1203.dark.sm.jpg')"></div>
    <div data-aos="fade-right" data-aos-delay="800" class="col bmv-text-letter-spacing-xs bmv-activity-text">
      <h2 class="bmv-activity-title">Групови тренировки</h2>
      <p class="bmv-activity-subtitle">Заедно е весело</p>
      <a class="btn btn-success bmv-activity-subtitle" href="#schedule">График</a>
    </div>
  </div>
</div>
