<div class="bmv-who" id="who">
  <div class="bmv-title">Тренировки</div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col bmv-who-item">
        <i class="fas fa-running bmv-who-icon"></i>
        <h5 class="bmv-who-title">Функционални тренировки</h5>
        <p class="bmv-who-description">
          Тези тренировки са подходящи за всеки, независимо от нивото на
          двигателна активност. Развиват цялостно тялото и ума ви,
          подобряват сила, контрол, баланс, издръжливост и добивате
          представа на какво е способно тялото ви.
        </p>
      </div>
      <div class="col bmv-who-item">
        <i class="fas fa-dumbbell bmv-who-icon"></i>
        <h5 class="bmv-who-title">Тренировки за професионални спортисти</h5>
        <p class="bmv-who-description">
          Ако си спортист, който има конкретни цели, амбиции за спорт на
          високо ниво и хъс за развитие - ние ще ти помогнем със специфични
          наставления за твоя спорт, програма за цялостно развитие и насоки
          за правилно хранене и възстановяване, за да стигнеш мечтаните
          върхове.
        </p>
      </div>
      <div class="col bmv-who-item">
        <i class="fas fa-female bmv-who-icon"></i>
        <h5 class="bmv-who-title">Тренировки за бременни</h5>
        <p class="bmv-who-description">
          Бременността не означава, че трябва да се лишиш от движение.
          Напротив грижата за тялото в този период ще донесе многобройни
          ползи за теб и растящото в теб човече. Добрата кондиция и тонус
          спомагат за безпроблемното раждане. Ела да ти разкажем защо.
        </p>
      </div>
      <div class="col bmv-who-item">
        <i class="fas fa-user-injured bmv-who-icon"></i>
        <h5 class="bmv-who-title">
          Рехабилитация и възстановяване след травми
        </h5>
        <p class="bmv-who-description">
          При травма често сме обездвижени и с ограничени движения. Това се
          отразява неблагоприятно на физиката и психиката ни и често се
          наблюдават трайни последици от вече излекуваната травма. Ние можем
          да ти помогнем с прецизно подбран набор от движения специално за
          теб.
        </p>
      </div>
    </div>
  </div>
</div>
