<section class="bmv-gallery">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/01.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/01.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/02.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/02.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/03.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/03.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/03.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/03.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/04.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/04.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/05.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/05.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/06.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/06.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/07.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/07.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/08.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/08.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/09.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/09.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/10.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/10.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/11.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/11.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/12.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/12.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
    <div class="bmv-gallery-img">
      <a href="../../public/assets/images/gallery/13.jpg" data-lightbox="bemovin">
        <img src="../../public/assets/images/gallery/13.thmb.jpg" alt="gallery image"
          class="image-responsive">
      </a>
    </div>
  </div>
</section>
