@import './components/variables';
$theme-colors: (
  "primary": $c-palette-primary,
  "danger": $c-palette-sec-primary
);
@import "~bootstrap/scss/bootstrap";

@import './components/nav';
@import './components/carousel';
@import './components/key-copy';

.bmv-title {
  display: block;
  color: $c-palette-primary;
  letter-spacing: $letter-spacing-xs;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.bmv-message {
  display: block;
  font-size: 1.4em;
  letter-spacing: 0.02em;
}

.bmv-text-logo {
  font-style: italic;
  font-weight: 700;

  & .bmv-text-logo-accent {
    color: $c-palette-primary;
  }

  & .bmv-text-logo-normal {
    &:before {
      content: "|";
      font-weight: 300;
    }
  }
}
