@import './components/variables';
$theme-colors: (
  "primary": $c-palette-primary,
  "danger": $c-palette-sec-primary,
  "success": $c-palette-accent-dark,
);
@import "~bootstrap/scss/bootstrap";

@import './components/animations';
@import './components/social-media';

@import './components/nav';
@import './components/carousel';
@import './components/key-copy';
@import './components/activity-types';
@import './components/calendar';
@import './components/team';

.bmv-title {
  display: block;
  color: $c-palette-primary;
  letter-spacing: $letter-spacing-xs;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;
}

.bmv-message {
  display: block;
  font-size: 1.4em;
  letter-spacing: $letter-spacing-xxs;
}

.bmv-text-logo {
  font-style: italic;
  font-weight: 700;

  & .bmv-text-logo-accent {
    color: $c-palette-primary;
  }
}

.bmv-text-letter-spacing-xxs {
  letter-spacing: $letter-spacing-xs;
}

.bmv-text-letter-spacing-xs {
  letter-spacing: $letter-spacing-xs;
}

.bmv-text-letter-spacing-sm {
  letter-spacing: $letter-spacing-sm;
}

.bmv-colors {
  & .col {
    height: 20em;
  }

  & .col:nth-of-type(1) {
    background-color: $c-palette-light;
  }
  & .col:nth-of-type(2) {
    background-color: $c-palette-primary;
  }
  & .col:nth-of-type(3) {
    background-color: $c-palette-dark;
  }
  & .col:nth-of-type(4) {
    background-color: $c-palette-sec-light;
  }
  & .col:nth-of-type(5) {
    background-color: $c-palette-sec-primary;
  }
  & .col:nth-of-type(6) {
    background-color: $c-palette-sec-dark;
  }
  & .col:nth-of-type(7) {
    background-color: $c-palette-accent-light;
  }
  & .col:nth-of-type(8) {
    background-color: $c-palette-accent-primary;
  }
  & .col:nth-of-type(9) {
    background-color: $c-palette-accent-dark;
  }
}
