@import './components/variables';
@import './components/mixins';
$theme-colors: (
  "primary": $c-palette-primary,
  "danger": $c-palette-sec-primary,
  "success": $c-palette-accent-dark,
);
@import "~bootstrap/scss/bootstrap";
@import "~aos/src/sass/aos.scss";

@import './components/animations';
@import './components/social-media';

@import './components/nav';
@import './components/carousel';
@import './components/key-copy';
@import './components/who';
@import './components/activity-types';
@import './components/calendar';
@import './components/team';
@import './components/prices';
@import './components/contacts';
@import './components/footer';

@import './components/fonts';

body {
  font-family: GothaPro, $font-family-sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.bmv-title {
  display: block;
  color: $c-palette-primary;
  letter-spacing: $letter-spacing-xs;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;

  &.bmv-title-dark {
    color: $c-palette-accent-dark;
  }
}

.bmv-message {
  display: block;
  font-size: 1.4em;
  text-align: center;
  letter-spacing: $letter-spacing-xxs;
}

.bmv-text-logo {
  font-style: italic;
  font-weight: 700;

  & .bmv-text-logo-accent {
    color: $c-palette-primary;
  }
}

.bmv-text-letter-spacing-xxs {
  letter-spacing: $letter-spacing-xs;
}

.bmv-text-letter-spacing-xs {
  letter-spacing: $letter-spacing-xs;
}

.bmv-text-letter-spacing-sm {
  letter-spacing: $letter-spacing-sm;
}
